<h1><%= @task_list.name %></h1>


<dt>Tasks:</dt>

<% @task_list.tasks.each do |task| %>
  <p><%= task.task %></p>
  <div class="right"><%= button_to "Delete", "/task_lists/#{@task_list.id}/tasks/#{task.id}", method: :delete, html: {class: "delete_link"} %></div>
<% end %>
